
html {
  font-family: Roboto Mono !important;
  background-color: #fff !important;
}


#uiBackground {
  background-color:#fff !important;
}

.left-side, .main-sidebar {
  padding-top: 0 !important;
}

#headerSection {
  height:6vh;
  min-height: 55px;
  position: relative;
}

#headerSection::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #cccccc;
}

.sidebar-toggle {
  margin-left: 10px !important;
  margin-top: 15px !important;
}

.hb-menu-bar {
    width: 30px;
    height: 4px;
    background-color: #333333;
    margin: 6px 0;
}


#mainTitle {
  margin-left:15px !important; 
  apply white-space: nowrap !important;
  font-size: 26px !important;
}

.wrapper {
  margin-top:5px !important;
}

.content-wrapper {
  min-height: 100vh !important;
}

.content, #mainBodySection, #edaConditionalPage, #edaMapSection {
  min-height: 675px !important;
}

#map, #map .leaflet {
  min-height: 660px !important;
  max-width: 650px !important;
}

.shiny-row {
  display: flex !important;
  flex-direction: row !important;
}


a {
  font-size: 18px !important;
}

#overviewIntroSection, #dataOverviewSection {
  padding-left: 5% !important;
  margin:10px;
}

#edaCatSection, #edaTargetSection, #dataOverviewSection {
  padding-top: 0.5% !important;
  padding-right: 20px !important;
  padding-bottom: 2% !important;
}

#edaCatSection, #edaTargetSection {
  padding-left: 1% !important;
}

#overviewIntroSection, #edaCatSection, #edaMapSection, #edaContSection,
#edaDataSection, #edaTargetSection, #dataOverviewSection {
  font-size: 20px !important;
}

#edaContSection, #edaDataSection {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

#edaContSection #cont_table {
  font-size: 18px !important;
  font-weight: normal !important;
}

#ippOverviewSection, #rfOverviewSection p, #rfOverviewSection span, 
#rfOverviewSection code, #rfOverviewSection li, #glmOverviewSection p, 
#glmOverviewSection span, #glmOverviewSection code, #glmOverviewSection li,
#maxEntOverviewSection p, #maxEntOverviewSection span, #maxEntOverviewSection code,
#maxEntOverviewSection li, #trainTestOverviewSection p, #trainTestOverviewSection li,
#trainTestOverviewSection span, #trainTestOverviewSection code {
  font-size: 18px !important;
}

#edaMapSection {
  font-size: 18px !important;
  padding-left: 3.5% !important;
  padding-right: 12% !important;
}

#edaMapSection {
  height: 100% !important;
}

#edaMapSection, #edaContSection {
    overflow-x: scroll !important;
  }

#select_data_filter, #cont_plot_type, #cat_plot_type, #select_data_filter_cont, 
#select_data_filter_cat {
    display: flex !important;
    align-items: left !important;
    margin-left: 15px !important;
}

#select_data_filter .shiny-options-group, #cont_plot_type .shiny-options-group,
#select_data_filter_cont .shiny-options-group, #select_data_filter_cat .shiny-options-group,
#cat_plot_type .shiny-options-group {
  margin-left: 10px !important;
}

#slothImg {
  float: right;
  margin-top: 10px !important;
  padding-left:15px !important;
  margin-right:15px !important;
  margin-bottom:5px !important;
}

#slothCaption, #slothCaption a {
  font-size:13px !important;
  max-width: 300px !important;
  font-weight: normal !important;
  color:gray;
}

.model-overview-page {
  margin-left:65px !important
}

.model-overview-page h5 {
  font-size: 21px !important;
}

.model-overview-page h4 {
  font-size: 23.5px !important;
}

.model-overview-page h3 {
  font-size: 27px !important;
}

.modeling-info-section {
  padding-right:80px !important;
  padding-left:20px !important;
}


#modelingInfoSidebar {
  max-width: 360px !important;
  float: left;
  margin-top: 10px !important;
  min-width: 360px !important;
  background-color: #d7defa69  !important;
  padding-left:5px !important;
  max-height: 130px !important;
  min-height: 130px !important;
  margin-right:25px !important;
  margin-bottom:5px !important;
  border-radius: 5px !important;
  border: 1px solid #cccccc !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 1275px) {
  #modelFittingSection {
    overflow-x:scroll;
  }
}

@media (max-width: 1000px) {
  .model-overview-page {
    margin-left: 15px !important;
    overflow-x:scroll !important;
    min-width: 400px !important;
    max-width: 770px !important;
  }

  .modeling-info-section {
    padding-right: 15px !important;
    padding-left: 20px !important;
  }
  
  #modelingInfoSidebar {
    float: top;
  }
}

@media (max-width: 765px) {
  #slothImg img {
    width: 168px !important;
    height: 250px !important;
  }
  #slothCaption {
    max-width: 168px !important;
  }
  
  #headerSection {
    margin-left:10px !important; 
  }
  
  #mainTitle {
    font-size: 22px !important;
  }
}

@media (max-width: 519px) {
  #mainTitle {
    margin-top: 4px !important;
  }
  
  #edaContRadio, {
    overflow-x:scroll !important;
  }
}

#modelingInfoSidebar ul {
  list-style-type: none !important; 
  padding-left: 10px !important;
}

#modelingInfoText {
  clear: left;
}

#modelFittingSection input, 
#modelFittingSection button {
  color: black !important;
  font-size: 17px !important
}

#modelFittingSection button {
  border-color: #6b6b6b !important;
}

#splitDiv .shiny-input-container {
  margin:0 !important;
}

#rfParams h4 {
  margin-top: 0 !important;
}

#modelFittingParams {
  border-bottom: 1px #acacac solid;
  margin-bottom: 6px;
}

.MJXc-display {
  text-align: left !important;
}

.MathJax_CHTML {
  font-size: 100% !important;
}

.ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.custom-border table {
  border: 1px solid black !important;
  overflow: hidden !important; 
}


.bold-panel-header {
  font-size:18px !important;
  font-weight:bold !important;
  margin-left:5px !important;
}

.shiny-notification-panel {
  width: 400px !important;
  right: -150px !important;
  font-size:18px !important;
}

.greyed-out {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal-lg {
  min-width: 660px !important;
}

#shiny-modal {
  overflow-x: scroll !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  /* Centering the loader */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.greyed-out-main {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed; /* Changed from absolute to fixed */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;

  /* Using flexbox to center the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack child elements vertically */
}

.greyed-out-main p {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 46%;
  left: 44%;
  
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinnerContainer .shinybusy, #spinnerContainer .shinybusy-ready {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#toggleRadioBtn {
  max-height:30px !important; 
  margin:5px !important; 
  padding: 0 !important;
  padding-left:0 !important;
  padding-right: 0 !important;
  border-color:black !important; 
  font-weight:bold !important;
}

#modelEvalSelection {
  background-color: #d7defa69  !important;
  padding:5px !important;
  margin:5px !important;
  border-radius: 5px !important;
  border: 1px solid #cccccc !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}

#hoverText {
  font-size: 17px !important;
}

